.dropdown-menu{
    min-width: 265px;
}

.main-header{
    background-color: cadetblue;
}
.brands-title{
    color: cadetblue;
}
.page-content {
	padding-top:40px;
}
.anuradha{
    font-size: 30px;
}
.extra-links{
    background-color: aliceblue;
}
.header-links{
    font-style: bold;
}
.header-top-css{
    padding-top: 7px;
    padding-bottom: 7px;
}
.about-text{
    padding-bottom: 10px;
}