{% load staticfiles %}

<div class="col-md-12">
    <h1 class="brands-title">
        Shoe Barands:
    </h1>
    <hr>    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/brands1.jpg' %}" alt="" style="height:400px; width:847px">
        </div>
    </div>
    <br>
    <h1 class="brands-title">
        Cricket Bats:
    </h1>
    <hr>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/bats.jpg' %}" alt="" style="height:400px; width:847px">
        </div>
    </div>
    <br>
    <h1 class="brands-title">
        Swimming Accessories:
    </h1>
    <hr>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/swimming.jpg' %}" alt="" style="height:400px; width:847px">
        </div>
    </div>
    <br>
    <h1 class="brands-title">
        Sports Accessories:
    </h1>
    <hr>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/dress.gif' %}" alt="" style="height:400px; width:847px">
        </div>
    </div>    
</div>