{% load staticfiles %}

<div class="col-md-12">
    <h1 style="color: white;">
        Shoe Barands
    </h1>
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/brands1.jpg' %}" alt="" style="height:400px; width:847px">
        </div>
    </div>
    
    <h1 style="color: white;">
        Cricket Bats
    </h1>
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/bats.jpg' %}" alt="" style="height:400px; width:847px">
        </div>
    </div>
    
    <h1 style="color: white;">
        Swimming Accessories
    </h1>
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/swimming.jpg' %}" alt="" style="height:400px; width:847px">
        </div>
    </div>
    
    <h1 style="color: white;">
        Sports Accessories
    </h1>
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/dress.gif' %}" alt="" style="height:400px; width:847px">
        </div>
    </div>    
</div>