{% load staticfiles %}

<div class="col-md-12">
    <div class="about-text">
        <h3 class="brands-title">
            Welcome to Anuradha Sports:
        </h3>
        <p>
            Before proceeding to introduce ourselves, we would like to give prominence to our parent company M/s. Sachdev Sports Co, which was established as early as 1928 by late Shri. Ram Ratan Sachdev, who hailed from Sialkot in Pakistan, who later migrated to India and settled in Hyderabad. He started small sports showroom with a small turnover has grown slowly with his untiring efforts & certain dealings with the customers.
        </p>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item">
                <img class="slide-image" src="{% static 'images/page3.jpg' %}" alt="" style="height:400px; width:847px">
            </div>
            <div class="item">
                <img class="slide-image" src="{% static 'images/page2.jpg' %}" alt="" style="height:400px; width:847px">
            </div>
            <div class="item active">
                <img class="slide-image" src="{% static 'images/page1.jpg' %}" alt="" style="height:400px; width:847px">
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
