<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Anuradha Sports Homepage</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body class="back-groud-image">
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top main-header" role="navigation">
        {% include "_navbar.html" %}
    </nav>
        <!-- Collect the nav links, forms, and other content for toggling -->
    <br>    
    <div class="container extra-links">    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="header-links">
                    <a href="/">Home</a>
                </li>
                <li class="header-links">
                    <a href="{% url 'about' %}" style="color: white">About</a>
                </li>
                <li class="header-links">
                    <a href="{% url 'brands' %}">Brands</a>
                </li>
                <li class="header-links">
                    <a href="{% url 'contact_page' %}" style="color: white">Contact</a>
                </li>
            </ul>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="item">
            <img class="slide-image" src="{% static 'images/main-page.jpg' %}" alt="" style="height:300px;">
        </div>
    </div>
    </div>
    <!-- /.navbar-collapse -->

    <!-- Page Content -->
    <div class="container page-content middle-content">
        <div class="row">
            
            <div class="col-md-3">
            {% block side_bar %}
                {% include "_left_side_bar.html" %}
            {% endblock %}

            </div>

            <div class="col-md-9">
                {% block brand_image %}  {% endblock %}

                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <!-- /.container -->
    


    <div class="container">
        <hr>
        {% include "_footer.html" %}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
